DATABASE_URL=postgresql://neondb_owner:npg_0yaNCsw4MKHl@ep-bitter-shape-a4bl2av5-pooler.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
SESSION_SECRET=badf7288fc7585ffb7731e88af6fc232804dde7772f676de91d2d516948a9e43
CORS_ORIGIN=http://localhost:5173,https://suivi-chargement.vercel.app

